/*
	Comment
*/
* {
	color: Black;
	background-color: pink;
}

a {color: Black; 
padding:10px;
text-decoration: none;
}

.nav-items {
	color: Black;
	background-color:pink;
	font-weight:bold;
	text-align: right;
	padding-right:150px;
}

.logo {
	color: Black;
	background-color:pink;
	font-weight:bold;
	font-style:italic;
	font-size: 125%;
	position:absolute;
}

.poem {
	color: Black;
	background-color: pink;
	font-weight:bold;
	font-style:italic;
	text-align:center;
}
.foot {
	color: Black;
	background-color:pink;
	text-align: center;
	
}